.banner{
    cursor:pointer;
    width: 10rem;
    overflow: hidden;
    height: 4.8rem;
    position: relative;
}

.bannerList{
    transition: all 1s ease-in-out 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 30rem;
}


.bannerListLi{
    float: left;
    width: 10rem;
}

.bannerListLi img{
    width: 100%;
}

